.FFFF{
    background-color: #423E3E;
}
.container-fluid{
    padding: 0;
}
.colorbutton{
    background-color: #AC3D44;
    width: 190px;
}
.button{
    display: flex;
    justify-content: space-around;
   padding-top: 15px;
}
.colorbuttons{
    width: 230px; 
    border: 4px solid #AC3D44;
    height: 40px;
}
.pokupka{
    width: 400px;
    height: 550px;
    background-color: #423E3E;
    border-radius: 60px;
    
    
}
.divpokupka-pop{
    padding-top: 2px;
}
.imgtovary1{
    height: 300px;
}
.gradient{
    color: rgb(0,0,0);
    color: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(184,57,68,1) 36%, rgba(234,72,87,1) 47%, rgba(225,115,14,1) 58%, rgba(252,0,0,1) 70%);
}
.imgtovary{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #535353;
    border-radius: 60px 60px 0px 0px;
}
.texttovary{
    height: 100px;
    color: white;
    /* margin-left: 25px; */
    margin-top: 10px;
}
.texttovary1{
    font-size: 20px;
    margin-left: 25px;
}
.texttovary2{
font-size: 24px;
margin-bottom: 7px;
margin-left: 25px;
}
.iconstexttovary{
    display: flex;
    height: 25px;
    margin-left: 25px;
}
.iconstexttovarymargin{
    margin-left: 7px;
    font-size: 19px;
}
.buttonpokupka1{
    width: 200px;
}
.buttonpokupka{
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokupki{
height: 300vh;
}
.tovary{
    height: 390vh;
    background-color: #262525;
}
.divpokupka{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.RZTK_Membrana_RGB_USB_Black{
    width: 400px; 
    height: 200px;
}
.fles{
    display: flex;
    justify-content: center;
}
.color{
    color: black;
}
.rekAksii{
    display: flex;
    justify-content: center;
    
}
.navbarzac{
    width: 100vw;
    top: 0px;
    position: fixed;
    z-index: 20;
}
.gradient{
    background: linear-gradient(45deg, #000000, #B83944, #EA4857, #E1730E, #FC0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Acer_Aspire_7_A715-76G-56U7{
    width: 390px;
}
.Монітор_238_Asus_VY249HGE{
    width: 350px; 
}
.Logitech_G502{
    width: 400px; 
    height: 200px;
}
.Dell_Inspiron_3525{
    width: 400px; 
    height: 300px;
}
.Vinga_KB410{
    width: 400px; 
    height: 300px;
}
.tovary_adaptation1{
    display: none;
}
.tovary_adaptation2{
    display: none;
}
.button_mb{
    display: none;
}
@media screen and (max-width: 1450px) {
    .tovary{
        height: 580vh;
    }
    .pokupka{
        width: 300px;
        height: 500px;
        background-color: #423E3E;
        border-radius: 60px;
    }
    .imgtovary{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #535353;
        border-radius: 60px 60px 0px 0px;
    }
    .imgtovary1{
        height: 250px;
    }
    .RZTK_Membrana_RGB_USB_Black{
        width: 300px;
        height: 200px;
    }
    .Acer_Aspire_7_A715-76G-56U7{
        width: 300px;
    }
    .Монітор_238_Asus_VY249HGE{
        width: 270px;
    }
    .MSI_Optix{
        width: 280px;
    }
    .Logitech_G502{
        width: 300px;
    }
    .Dell_Inspiron_3525{
        width: 300px;
    }
    .Vinga_KB410{
        width: 300px;
    }
    .Lenovo_IdeaPad{
        width: 290px;
    }
    .pokupki{
        margin-top: 20px;
    }
}
@media screen and (max-width: 1030px) {
    .tovary{
        display: none;
    }
    .tovary_adaptation1{
        display: block;
        height: 680vh;
        background-color: #262525;
    }
    .tovary_adaptation1_big_text{
        font-size: 17px;
    }
    .tovary_adaptation1_big_text_logitech{
        font-size:  15px;
    }
    .tovary_adaptation1_big_text_logitech_small{
        font-size: 13px;
    }
}
@media screen and (max-width:770px) {
    .tovary_adaptation1{
        display: none;
    }
    .tovary_adaptation2{
        display: block;
        height: 1050vh;
        background-color: #262525;
    }
    .divpokupka_end{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .big_text{
        font-size: 10px;
    }
    .small_text{
        font-size: 15px;
    }
    .big_text1{
        font-size: 8px;
    }
    .big_small_text{
        font-size: 14px;
    }
}
@media screen and (max-width:550px) {
    .divpokupka{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .tovary_adaptation2{
        height: 1500vh;
        /* height: max-content; */
    }
    .divpokupka_end{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .pokupki{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .big_text{
        font-size: 9px;
    }
    .Big_text{
        font-size: 7px;
    }
    .pokupka{
        margin-top: 50px;

    }
    .center_pokupka{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 350px) {
    .tovary_adaptation2{
        height: 1650vh;
    }
    .pokupka{
        width: 200px;
        height: 400px;
        background-color: #423E3E;
        border-radius: 60px;
        margin-top: 25px;
    }
    .texttovary1{
        font-size: 16px;
    }
    .texttovary2{
        font-size: 16px;
        margin-left: 15px;
    }
    .imgtovary1{
        height: 195px;
        width: 190px;
    }
    .imgtovary{
        height: 250px;
    }
    .buttonpokupka{
        display: none;
    }
    .button_mb{
        display: block;
        /* margin-left: 20px; */
        margin-right: 15px;
    }
    .buttonpokupka1{
        width: 40px;
        height: auto;
    }
    .text_botton{
        display: flex;
        justify-content: space-around;
    }
    .iconstexttovarymargin{
        font-size: 16px;
    }
    .divpokupka{
        margin-top: 0;
    }
    .big_text{
        font-size: 9px;
    }
    .Big_text{
        font-size: 7px;
    }
    .discount{
        margin: 0;
    }
    .RZTK_Membrana_RGB_USB_Black{
        height: 150px;
    }
    .Монітор_238_Asus_VY249HGE{
        height: 180px;
    }
    .COBRA_Advanced{
        height: 185px;
        width: 165px;
    }
    .MSI_Optix{
        height: 185px;
        height: 180px;
    }
    .Acer_Aspire_7_A715-76G-56U7{
        height: 180px;
    }
    .Dell_Inspiron_3525{
        height: 170px;
    }
    /* .text_mb{
        display: flex;
        align-items: center;
    } */
    .discounts{
        width: 40%;
    }
    .discounts2{
        width: 35%;
    }
} 
