.hon{
    background-image: url('../photo/wallpapersden.com_cool-red-mountains-4k_1920x1080.jpg'); 
    background-position: 0 0; 
    background-repeat: no-repeat; 
    background-size: 100% auto;
    height: 95.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FFFF{
    background-color: #423E3E;
}
.divzapit{
    width: 800px;
    height: 450px;
    background-color: #423E3E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    border-radius: 100px;
}
.gradient{
    background: linear-gradient(45deg, #000000, #B83944, #EA4857, #E1730E, #FC0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Question{
    width: 700px; 
    margin-top: 20px; 
}
.btnQuestion{
    width: 400px; 
    margin-top: 50px; 
    height: 50px;
}
@media screen and (max-width:1440px){
    .hon{
        background-size: cover;
    }
}
@media screen and (max-width: 1030px){
    .hon{
        height: 70vh;
    }
    .divzapit{
        width: 600px;
        height: 350px; 
        border-radius: 50px;
    }
    .Question{
        width: 450px;
        height: 150px !important;
    }
    .btnQuestion{
        margin-top: 10px;
        width: 300px;
        margin-bottom: 10px;
    }
    .Zopit{
        height: 25px !important;
    }
    .write{
        margin-top: 10px;
    }
    .write1{
       margin-top: 15px; 
    }
}
@media screen and (max-width: 950px) {
    .divzapit{
        width: 650px;

    }
}
@media screen and (max-width:770px) {
    .hon{
        height: 65vh;
    }
    .divzapit{
        height: 300px;
        width: 500px;
    }
    .btnQuestion{
        margin-top: 15px
    }
    .Question{
        width: 370px;
    }

}
@media screen and (max-width: 650px) {
    
}
@media screen and (max-width: 430px) {
    .divzapit{
        width: 380px;
        height: 270px;
        border-radius: 80px;
    }
    .Question{
        width: 250px;
    }
    .BigQues{
        /* display: none; */
    }
    .btnQuestion{
        width: 230px;
        height: 35px;
    }
    .hon{
    height: 50vh;
    background-size: cover;
    }
}
@media screen and (max-width: 380px) {
    .divzapit{
        width: 360px;
        height: 270px;
        border-radius: 80px;
    }
}
@media screen and (max-width: 330px) {
    .divzapit{
        width: 350px;
        height: 270px;
        border-radius: 80px;
    }
}
