*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
.section1{
    
    background-image: url('../photo/wallpapersden.com_cool-red-mountains-4k_1920x1080.jpg'); 
    background-position: 0 0; 
    background-repeat: no-repeat; 
    background-size: 100% auto;
    height: 99.5vh;
    display: flex;
    padding: 0;
}
.Logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
}
.logoAndText{
    display: flex;
    flex-direction: column;
}
.slaydy{
    padding: 0;
}
.section1Text{
    font-size: 20px;
}

.FFFF{
    background-color: #423E3E;
}
.gradient{
    background: linear-gradient(45deg, #000000, #B83944, #EA4857, #E1730E, #FC0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbarzac{
    width: 101vw;
    top: 0px;
    position: fixed;
    z-index: 20;
}
.storona{
    width: 951px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.storona2{
    width: 951px;
}
.logo2{
width: 951px;
display: flex;
justify-content: center;
align-items: center;
}
.img{
    border-radius: 100%;
    border: 5px solid #B83944;
}
.footer{
    height: 150px;
    background-color: #423E3E;
    display: flex;
    justify-content: center;
}
.FooterTextCenter{
    text-align: center;
}
.footerRight{
    margin-left: 20px;
}